* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  width: 90%;
  margin: auto;
}
input{
  padding: 10px 26px;
    outline: none;
    border: 2px solid darkgrey;
    border-radius: 5px;
    margin: 10px 0px;
}
form div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
    margin: auto;
}
form button{
  margin: auto;
    display: flex;
    justify-content: center;
    padding: 7px 39px;
    font-size: 20px;
    align-items: center;
}
.login{
  display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
.main-logo {
  display: flex;
    gap: 10%;
    margin: 20px 0px;
    background-color: beige;
}